<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.reima.mapper.BizPayDetailMapper">
    
    <resultMap type="BizPayDetail" id="BizPayDetailResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="payType"    column="pay_type"    />
        <result property="amt"    column="amt"    />
        <result property="discount"    column="discount"    />
        <result property="sourceNo"    column="source_no"    />
        <result property="verificationCode"    column="verification_code"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizPayDetailVo">
        select id, order_id, pay_type, amt, discount, source_no, verification_code, del_flag, create_by, create_time, update_by, update_time from biz_pay_detail
    </sql>

    <select id="selectBizPayDetailList" parameterType="BizPayDetail" resultMap="BizPayDetailResult">
        <include refid="selectBizPayDetailVo"/> where del_flag = 0
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="amt != null "> and amt = #{amt}</if>
            <if test="discount != null "> and discount = #{discount}</if>
            <if test="sourceNo != null  and sourceNo != ''"> and source_no = #{sourceNo}</if>
            <if test="verificationCode != null  and verificationCode != ''"> and verification_code = #{verificationCode}</if>
    </select>
    
    <select id="selectBizPayDetailById" parameterType="Long" resultMap="BizPayDetailResult">
        <include refid="selectBizPayDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizPayDetail" parameterType="BizPayDetail" useGeneratedKeys="true" keyProperty="id">
        insert into biz_pay_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="payType != null">pay_type,</if>
            <if test="amt != null">amt,</if>
            <if test="discount != null">discount,</if>
            <if test="sourceNo != null">source_no,</if>
            <if test="verificationCode != null">verification_code,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="payType != null">#{payType},</if>
            <if test="amt != null">#{amt},</if>
            <if test="discount != null">#{discount},</if>
            <if test="sourceNo != null">#{sourceNo},</if>
            <if test="verificationCode != null">#{verificationCode},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizPayDetail" parameterType="BizPayDetail">
        update biz_pay_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="amt != null">amt = #{amt},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="sourceNo != null">source_no = #{sourceNo},</if>
            <if test="verificationCode != null">verification_code = #{verificationCode},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizPayDetailById" parameterType="Long">
        update biz_pay_detail set del_flag = '2' where id = #{id}
    </delete>

    <delete id="deleteBizPayDetailByIds" parameterType="String">
        update biz_pay_detail set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>