<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.reima.mapper.BizUserSigninMapper">
    
    <resultMap type="BizUserSignin" id="BizUserSigninResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="signAt"    column="sign_at"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizUserSigninVo">
        select id, user_id, sign_at, del_flag, create_by, create_time, update_by, update_time from biz_user_signin
    </sql>

    <select id="selectBizUserSigninList" parameterType="BizUserSignin" resultMap="BizUserSigninResult">
        <include refid="selectBizUserSigninVo"/> where del_flag = 0
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="signAt != null "> and sign_at = #{signAt}</if>
    </select>
    
    <select id="selectBizUserSigninById" parameterType="Long" resultMap="BizUserSigninResult">
        <include refid="selectBizUserSigninVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizUserSignin" parameterType="BizUserSignin" useGeneratedKeys="true" keyProperty="id">
        insert into biz_user_signin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="signAt != null">sign_at,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="signAt != null">#{signAt},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizUserSignin" parameterType="BizUserSignin">
        update biz_user_signin
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="signAt != null">sign_at = #{signAt},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizUserSigninById" parameterType="Long">
        update biz_user_signin set del_flag = '2' where id = #{id}
    </delete>

    <delete id="deleteBizUserSigninByIds" parameterType="String">
        update biz_user_signin set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSimpleUserSignVoByUserIdAndMonth" resultType="com.micro.reima.model.vo.SimpleUserSignVo">
        select id,sign_at signAt from biz_user_signin where del_flag = 0 and user_id = #{userId} and date_format(sign_at,'%Y-%m') = #{month}
    </select>

    <select id="selectSimpleUserSignVoByUserIdAndSignAt" resultType="com.micro.reima.model.vo.SimpleUserSignVo">
        select id,sign_at signAt from biz_user_signin where del_flag = 0 and user_id = #{userId} and date_format(sign_at,'%Y-%m-%d') = #{signAt} limit 1
    </select>

    <select id="selectBizUserSigninVoList" parameterType="BizUserSigninVo" resultType="com.micro.reima.model.vo.BizUserSigninVo">
        select a.id, a.user_id userId, a.sign_at signAt, a.del_flag delFlag, a.create_by createBy, a.create_time createTime, a.update_by updateBy, a.update_time updateTime,
        b.avatar,b.nick_name nickName,b.phonenumber
        from biz_user_signin a left join sys_user b on a.user_id = b.user_id
        where a.del_flag = 0
        <if test="userId != null "> and a.user_id = #{userId}</if>
        <if test="signAt != null "> and a.sign_at = #{signAt}</if>
        <if test="nickName != null  and nickName != ''"> and b.nick_name like concat('%', #{nickName}, '%')</if>
        <if test="phonenumber != null  and phonenumber != ''"> and b.phonenumber like concat('%', #{phonenumber}, '%')</if>
    </select>

    <select id="selectBizUserSigninVoById" parameterType="Long" resultType="com.micro.reima.model.vo.BizUserSigninVo">
        select a.id, a.user_id userId, a.sign_at signAt, a.del_flag delFlag, a.create_by createBy, a.create_time createTime, a.update_by updateBy, a.update_time updateTime,
               b.avatar,b.user_name userName,b.phonenumber
        from biz_user_signin a left join sys_user b on a.user_id = b.user_id
        where id = #{id}
    </select>
</mapper>